
.grid {
    
    
    height:fit-content;
    flex-basis:fit-content;
    width:500px;
    columns:1;
    grid-gap:0;
    background-color: rgba(0, 255, 255, 0);
}

.score-box{
    font-size:200%;
    text-align: center;
    padding-right:100px;
    color:gold;
}

img {
    margin:1px;
    width:100px;
    height:120px;
}

.grid-container {
    padding-top:100px;
    display:flex;
    justify-content: center;
}

body {
    background-image: URL("marioBackground.jpg");
}